@tailwind base;
@tailwind components;
@tailwind utilities;

/* Markdown Content Styles */
.prose ul {
  list-style-type: disc;
  padding-left: 1.5em;
}
.prose ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}
